@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #687188;
    font-size: 16px;
    overflow-x: hidden;
}

button {
    border: none;
    cursor: pointer;
}

:root {
    --primary-font: "Nunito Sans", sans-serif;
}

/* common css end */

/* header css start */
.Header_wrapper .Header_logo {
    background-color: #308e87;
    padding: 15px 16px;
}

.Header_wrapper .Header_logo svg {
    color: #fff;
    transition: all linear .3s;
}

.Header_wrapper .Header_logo .icon_wrapper {
    background: rgba(249, 247, 246, 0.2392156863);
    border-radius: 50%;
    transition: all linear .3s;
}

.Header_wrapper .Header_logo .icon_wrapper:hover {
    background: #fff;
}

.Header_wrapper .Header_logo .icon_wrapper:hover svg {
    color: #308e87;
}

.Header_wrapper .Header_profile {
    padding: 0 30px;
}

.Header_wrapper .Header_profile .profile_wrapper {
    background: #f39159;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    overflow: hidden;
}

.Header_wrapper .Header_profile .profile_name h4,
.Header_wrapper .Header_profile .profile_name h5 {
    font-family: var(--primary-font);
    font-weight: 700;
}

.Header_wrapper .Header_profile .profile_name h5 {
    font-weight: 400;
}


@media only screen and (max-width: 768px) {
    .Header_wrapper {
        width: 100%;
    }

    .Header_wrapper .Header_logo,
    .Header_profile {
        width: 30%;
    }
}

@media only screen and (max-width: 664px) {
    .Header_wrapper .Header_logo img {
        width: fit-content;
    }

    .Header_wrapper .Header_logo,
    .Header_profile {
        width: auto;
    }

    .Header_wrapper .Header_logo {
        width: 40%;
    }
}

/* header css end */