@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --ibm: 'IBM Plex Sans', sans-serif;
}

.ibm-font {
    font-family: var(--ibm);
}

/* common css end */


/* sidebar css start */
.Main-sidebar .Main-menu .menu-list-wrapper .list.active .home {
    border-bottom: 1px solid #FFC794;
    color: #F3F4F7;
}

.Main-sidebar .Main-menu .menu-list-wrapper .list .home svg {
    fill: #9199AD;
    transition: all linear 0.3s;
}

.Main-sidebar .Main-menu .menu-list-wrapper .list.active .home svg {
    fill: #F3F4F7;
}

.Main-sidebar .Main-menu .menu-list-wrapper .list.active .home .arrow {
    transform: rotate(180deg);
}

.Main-sidebar .Main-menu .menu-list-wrapper .list.active {
    background: #FF8E29;
}

.Main-sidebar .Main-menu .menu-list-wrapper .list .sub-menu-list-wrapper {
    display: none;
}

.Main-sidebar .Main-menu .menu-list-wrapper .list .sub-menu-list-wrapper.active {
    display: block;
}

/* sidebar css end */